__temporary*/
bin/
dist/
docs/api
docs/benchmarks/llm/
lib/
node_modules/

prisma/migrations/
src/api/functional/

packages/bbs-backend/
packages/payments/
packages/public/
packages/workflows/
packages/workspaces/
packages/swaggers/
packages/api/swagger.korean.json
website/public/api/
website/public/swagger/swagger.json

.infisical.json
package-lock.json

.env
.idea/
*.log

.infisical.json
gh-devs-be.iml

**/.DS_Store

# https://github.com/tpope/vim-obsession
Session.vim
